 <ion-modal-view>
       
        <ion-content style="padding: 0px;">
          <img class="viber-edit-picture-image" src="img/sof.jpg" ng-click="hideModal()" >
          <ul class="list ">
              <li class="item viber-edit-picture-item" ng-click="hideModal('editName')" >
                Edit your name
              </li>
              <li class="item viber-edit-picture-item" ng-click="hideModal('TakePicture')">
                Take new picture
              </li>
              <li class="item viber-edit-picture-item" ng-click="hideModal('SelectGallery')">
                Select new from gallery
              </li>
              <li class="item viber-edit-picture-item" ng-click="hideModal('FacebookImport')">
                Import from Facebook
              </li>
              <li class="item viber-edit-picture-item" ng-click="hideModal('RemovePicture')">
                Remove photo
              </li>
          </ul>
        </ion-content>
      </ion-modal-view>